In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('finish name.csv',encoding='gbk')
df2 = pd.read_csv('class 6.csv',encoding='gbk')
for i in range(df2.index.size):
    a = 1
    for j in range(df1.index.size):
        if df1.iloc[j,0] == df2.iloc[i,0]:
            a = 0
    if a == 1:
        print(df2.iloc[i,0])

张鹏宇
曾凡洲
龚喆
周玲茹

In [3]:
df1

   1、姓名
0   刘紫璇
1   李佩宁
2    张淼
3   何佳阳
4    王威
5   张晋豪
6   马梦媛
7   姚景豪
8    张哲
9   张鹏鹏
10  杜红伟
11  何嘉璇
12  李盈宣
13   梁倩
14  刘晟宇
15  王宣政
16   党旺
17  方一帆
18  付嘉婧
19  冯梓萱
20  孙宜科
21  田江鹏
22  陈睿明
23   程柳
24   代凌
25   王坤
26  陈浩冬
27  赵文俏
28  闫子璇
29  韩瑞江
30  谢雨宏
31   张强
32  薛昕哲
33   李港

In [5]:
df2

     姓名
0   孙宜科
1    张哲
2   赵文俏
3   付嘉婧
4   张晋豪
5   张鹏宇
6   刘紫璇
7   陈浩冬
8    王威
9    程柳
10  王宣政
11   张强
12  薛昕哲
13  韩瑞江
14  何嘉璇
15  方一帆
16  何佳阳
17   王坤
18  杜红伟
19  曾凡洲
20  刘晟宇
21  陈睿明
22   李港
23   龚喆
24  田江鹏
25  姚景豪
26   党旺
27   张淼
28  谢雨宏
29  闫子璇
30  李盈宣
31   代凌
32  冯梓萱
33  周玲茹
34  马梦媛
35   梁倩
36  李佩宁
37  张鹏鹏