In [1]:
number = [1,2,3,4]

In [2]:
number

[1, 2, 3, 4]

In [3]:
number.append(6)

In [4]:
number

[1, 2, 3, 4, 6]

In [5]:
number.append("str")

In [6]:
number

[1, 2, 3, 4, 6, 'str']

In [7]:
number.extend(5)

TypeError: 'int' object is not iterable

In [8]:
number.extend([5])

In [9]:
number

[1, 2, 3, 4, 6, 'str', 5]

In [10]:
number.extend([6,7,8,9])

In [11]:
number

[1, 2, 3, 4, 6, 'str', 5, 6, 7, 8, 9]

In [12]:
number.insert(1,2)

In [13]:
nuumber

NameError: name 'nuumber' is not defined

In [14]:
number

[1, 2, 2, 3, 4, 6, 'str', 5, 6, 7, 8, 9]

In [15]:
number[2]

2

In [16]:
number[1],number[3] = number[3],number[1]

In [17]:
number

[1, 3, 2, 2, 4, 6, 'str', 5, 6, 7, 8, 9]

In [18]:
number.remove(3)

In [19]:
number

[1, 2, 2, 4, 6, 'str', 5, 6, 7, 8, 9]

In [20]:
del number[1]

In [21]:
number

[1, 2, 4, 6, 'str', 5, 6, 7, 8, 9]

In [22]:
del number

In [23]:
number

NameError: name 'number' is not defined

In [28]:
number = [1,2,3,4,'str',5.6]
number

[1, 2, 3, 4, 'str', 5.6]

In [26]:
number.pop()

5.6

In [27]:
number

[1, 2, 3, 4, 'str']

In [29]:
number.pop(2)

3

In [30]:
number

[1, 2, 4, 'str', 5.6]

In [31]:
number[0:2]

[1, 2]

In [32]:
number1 = number[0:2]
number1

[1, 2]

In [34]:
number2 = number[:2]
number2

[1, 2]

In [35]:
number3 = number[0:]
number3

[1, 2, 4, 'str', 5.6]

In [36]:
number[:]

[1, 2, 4, 'str', 5.6]

In [39]:
number4 = number[0:5:2]
number4

[1, 4, 5.6]

In [41]:
number5 = number[::-1]
number5

[5.6, 'str', 4, 2, 1]

In [42]:
list1 = [123,456]
list2 = [234,567]

In [43]:
list3 = list1 + list2
list3

[123, 456, 234, 567]

In [44]:
list3 = list3 + [345]

In [45]:
list3

[123, 456, 234, 567, 345]

In [48]:
list1 = [123]

In [49]:
list1 *3

[123, 123, 123]

In [50]:
list1 = list1 * 3
list1

[123, 123, 123]

In [51]:
list1*3

[123, 123, 123, 123, 123, 123, 123, 123, 123]

In [52]:
list1 = ['asd','add','dfs',['adfasd','fadfsaf'],'adfa']

In [53]:
'asd' in list1

True

In [54]:
'adfasd'in list1

False

In [57]:
'adfasd' in list1[3]

True

In [59]:
list1[3][1]

'fadfsaf'

In [60]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
a = dir(list)
a

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [63]:
list1

['asd', 'add', 'dfs', ['adfasd', 'fadfsaf'], 'adfa']

In [64]:
list1 = [1,2,3,4,52,3,4,21,2,41,1,]

In [65]:
list1.count(1)

2

In [66]:
list1.index(1)

0

In [67]:
start = list1.index(1)+1
stop = len(list1)
list1.index(1,start,stop)

10

In [69]:
list1[::-1]

[1, 41, 2, 21, 4, 3, 52, 4, 3, 2, 1]

In [70]:
list1.reverse()

In [71]:
list1

[1, 41, 2, 21, 4, 3, 52, 4, 3, 2, 1]

In [72]:
list1[::-1]

[1, 2, 3, 4, 52, 3, 4, 21, 2, 41, 1]

In [73]:
list1

[1, 41, 2, 21, 4, 3, 52, 4, 3, 2, 1]

In [74]:
list1.sort()

In [75]:
list1

[1, 1, 2, 2, 3, 3, 4, 4, 21, 41, 52]

In [76]:
list1.sort(reverse=True)

In [77]:
list1

[52, 41, 21, 4, 4, 3, 3, 2, 2, 1, 1]

In [78]:
list1 = [1,3,2,5,4,6,8,7]
list2 = list1
list3 = list1[:]

In [79]:
list2

[1, 3, 2, 5, 4, 6, 8, 7]

In [80]:
list3

[1, 3, 2, 5, 4, 6, 8, 7]

In [81]:
list1.sort()

In [82]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [84]:
list3

[1, 3, 2, 5, 4, 6, 8, 7]

In [85]:
list1 = [8,4,5,2,4,5,7,9]
list1.sort()
list1

[2, 4, 4, 5, 5, 7, 8, 9]

In [86]:
list1.reverse()

In [87]:
list1

[9, 8, 7, 5, 5, 4, 4, 2]

In [88]:
tuple1 = (1,2,3,4,5)
tuple1

(1, 2, 3, 4, 5)

In [89]:
tuple1[1]

2

In [90]:
tuple1[2] = 3

TypeError: 'tuple' object does not support item assignment

In [91]:
tuple2 = tuple1
tuple2

(1, 2, 3, 4, 5)

In [92]:
tuple1 = (1,2,3)

In [93]:
tuple2

(1, 2, 3, 4, 5)

In [94]:
list1 = [1,2,3,4,5]
list2 = list1
list2

[1, 2, 3, 4, 5]

In [95]:
list1 = [3,4,5]
list2

[1, 2, 3, 4, 5]

In [96]:
tuple2 = tuple1[:]

In [97]:
tuple2

(1, 2, 3)

In [98]:
tuple3 = (1)
type(tuple3)

int

In [99]:
tuple3 = (1,)
type(tuple3)

tuple

In [100]:
tuple3 =()
type(tuple3)

tuple

In [101]:
tuple3 = 1,2,3,4,4,5,6
type(tuple3)

tuple

In [102]:
8 * (8)

64

In [103]:
8 * (8,)

(8, 8, 8, 8, 8, 8, 8, 8)

In [110]:
temp = ('a','b','d')
temp = temp[:2] + ('c',) + temp[2:]
temp

TypeError: can only concatenate tuple (not "str") to tuple

In [121]:
str1 = "0 12 3456"
str1[:5]

'0 12 '

In [122]:
"{0} am {1} ".format('I','steven')

'I am steven '

In [123]:
a = list()
a

[]

In [124]:
b = list("I am steven")
b

['I', ' ', 'a', 'm', ' ', 's', 't', 'e', 'v', 'e', 'n']

In [125]:
c = list((1,2,3,4,5,6,7))
c

[1, 2, 3, 4, 5, 6, 7]

In [126]:
type(c)

list

In [127]:
str(1,23,4,5)

TypeError: str() takes at most 3 arguments (4 given)

In [128]:
str([1,2,3,4])

'[1, 2, 3, 4]'

In [130]:
str1 = "I am steven"
max(str1)

'v'

In [132]:
list1 = [1,23,45,2,3,5]
list2 = list1[:]
list1.sort()
list1

[1, 2, 3, 5, 23, 45]

In [133]:
sorted(list2)

[1, 2, 3, 5, 23, 45]

In [134]:
list2

[1, 23, 45, 2, 3, 5]

In [135]:
list1 = [1,2,3,4,5,6,7,8,9,10]
reversed(list1)

In [136]:
for each in reversed(list1):
    print(each,end = ',')

10,9,8,7,6,5,4,3,2,1,

In [137]:
str1 = "I am steven"
for each in enumerate(str1):
    print(each)

(0, 'I')
(1, ' ')
(2, 'a')
(3, 'm')
(4, ' ')
(5, 's')
(6, 't')
(7, 'e')
(8, 'v')
(9, 'e')
(10, 'n')

In [138]:
list1 = [1,2,3,4,5,6]
str1 = "steven"
for each in zip(list1,str1):
    print(each)

(1, 's')
(2, 't')
(3, 'e')
(4, 'v')
(5, 'e')
(6, 'n')

In [144]:
tuple1 = (6,5,4,3,2,1)
for each2 in zip(list1,str1,tuple1):
    print(each2)

(1, 's', 6)
(2, 't', 5)
(3, 'e', 4)
(4, 'v', 3)
(5, 'e', 2)
(6, 'n', 1)